html {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #00abe1;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  max-width: 600px;
  margin: 0px;
  height: 100%;
  color: #161f6d;
}

h1 {
  text-align: center;
  font-size: 70px;
  background-color: #ffffff;
  padding: 0px 30px;
  border-radius: 9999px;
}

button {
  background-color: #ffffff;
  color: #161f6d;
  border: none;
  border-radius: 9999px;
  margin: 10px;
}

.players-container {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 20%);
}

.btn-player-ct,
.btn-submit-names,
.restart {
  width: 100px;
  padding: 5px;
}

.player-names-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10%);
  visibility: hidden;
}

#player-one-name,
#player-two-name {
  border-radius: 9999px;
  outline: none;
  border: none;
  padding: 5px 15px;
}

.player-container {
  padding-bottom: 4px;
}

.status {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #161f6d;
  border-radius: 9999px;
}

.game-board-container {
  display: grid;
  margin: 10px 10px;
  max-width: 600px;
  max-height: 600px;
  visibility: hidden;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  background-color: #161f6d;
  border-radius: 60px;
}

.space {
  height: 100px;
  width: 100px;
  border: none;
  background-color: #ffffff;
  color: #161f6d;
  font-size: 60px;
  outline: none;
}

.start-over {
  display: flex;
  visibility: hidden;
  justify-content: center;
}
